
*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: "Suranna", sans-serif;
    background-color: #E1D7C4;
}

#hero {
  height: 100vh; 
  display: flex;
  align-items: center;   
  justify-content: center; 
  text-align: center;
  color: black;
}
@keyframes fadeIn{
    from{
    opacity: 0;
    transformL: translateX(10px);
}
to {
    opacity: 1;
    transform: translateX(0);
}
}
#secondlineheader{
    opacity: 0;
    animation: fadeIn 2s ease forwards;
    animation-delay: 0.4s;
}

#title-block h1 {
  margin: 0.5rem 0;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.3;
}
#main-gallery{
    display: grid;
    grid-template-rows:auto 1fr;
    justify-items: center;
    gap: 1.5rem;
    padding: 2rem;
}
#thumbnail-container{
    display:grid;
    grid-auto-flow: column;
    grid-auto-columns: auto;
    gap: 1rem;
    overflow-x: auto;
    width: 60%;
    border: 0.2rem solid black;
    background-color: black;
    border-radius: 12px;
}
.thumbnail{
    height: 12vh;
    width: auto;
    cursor: pointer;
    border-radius: 8px;
    
}
#fullscreen-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
    width: 100%;
    
}
#fullscreen-img{
    display: block;
    max-height: 80vh;
    width: auto;
    border-radius: 12px;
}
