
*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: "Suranna", sans-serif;
}

#hero {
  height: 100vh; 
  display: flex;
  align-items: center;   
  justify-content: center; 
  text-align: center;
  background-color: #E1D7C4;
  color: black;
}
@keyframes fadeIn{
    from{
    opacity: 0;
    transformL: translateX(10px);
}
to {
    opacity: 1;
    transform: translateX(0);
}
}
#secondlineheader{
    opacity: 0;
    animation: fadeIn 2s ease forwards;
    animation-delay: 0.4s;
}

#title-block h1 {
  margin: 0.5rem 0;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.3;
}
#navbar {
  width: 100%;
  background-color: #E1D7C4;
  border-bottom: 2px solid linear-gradient(to right, #E1D7C4 60%, black 40%);
  position: sticky;   
  top: 0;
  z-index: 10;
}

#navbar ul {
  list-style: none;
  margin: 0;
  padding: 0.8rem;
  display: flex;
  justify-content: right;
  gap: 2rem;
}

#navbar a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}

#navbar a:hover {
  color: #ffffff;
}


