
*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: "Suranna", sans-serif;
}

#hero {
  height: 100vh; 
  display: flex;
  align-items: center;   
  justify-content: center; 
  text-align: center;
  background-color: #E1D7C4;
  color: black;
}
@keyframes fadeIn{
    from{
    opacity: 0;
    transformL: translateX(10px);
}
to {
    opacity: 1;
    transform: translateX(0);
}
}

#title-block h1 {
  margin: 0.5rem 0;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.3;
}
#secoundlineheader{
    opacity: 0;
    animation: fadeIn 1.2s ease forwards;
    animation-delay: 0.4s;
}


